<div class="character__card">
  <div class="character__card-image">
    <img src="{{ imgSrc }}" alt="" />
  </div>
  <div class="character__card-info">
    <h2 class="character__name">{{ name }}</h2>
    <div class="character____card-info--wrapper">
      <p class="character__gender">
        Gender: <strong>{{ gender }}</strong>
      </p>
      <p>
        Episode Count: <strong>{{ count }}</strong>
      </p>
      <p class="character__origin">
        Origin: <strong>{{ origin }}</strong>
      </p>
      <p class="character__location">
        Location: <strong>{{ location }}</strong>
      </p>
    </div>
  </div>
</div>
