@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&family=Montserrat&family=Roboto:wght@400;500;700&family=Viga&display=swap');
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    background: linear-gradient(-45deg, #833654, #270412, #6b6b6b, #63163c);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}